version: '3.8'

services:
  jenkins:
  build:
    comtext:  .
    dockerfile: Dockerfile
  container_name: jenkins
  restart: unless-stopped
  privileged: true
  user: root
    
  ports:
    - "8080:8080"
    - "50000:50000"
    
  volumes:
    - ./jenkins_data:/var/jenkins_home
    - /var/run/docker.sock:/var/run/docker.sock
    - ./ansible:/var/jenkins_home/ansible

volumes:
  jenkins_home:
    driver:local